# TTC Subway Delays

In [2]:
# Import packages
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# 1. Data Collection and Cleaning

### a. Data Types
- High Level Overview of Data Types

### b. Missing Data
- Bound
- Line
- Code Names

### c. Feature Engineering
- Station Engineering
- Line Completion and Verification
- Location (Station/Misc)
- Code Bins

# 2. Data Analysis

### a. High Level Overview of Delays
- Types of Delays
- Occurence of Delays

### b. Annualized Efficiency Trends
- Efficiency Trends across seperate Delay Codes
- Efficiency Trends across Lines

# 1. Data Collection and Cleaning

### a. What does our data look like?

In [3]:
# Import datasets
delay = pd.read_csv('data/all_years.csv', delimiter = '\t')
codes_srt = pd.read_csv('data/codes_srt.csv', delimiter = '\t')
codes_sub = pd.read_csv('data/codes_sub.csv', delimiter = '\t')

# Merge Datasets
delay = pd.merge(left=delay, right=codes_srt, how='left', left_on=delay['Code'], 
        right_on=codes_srt['SRT RMENU CODE']).drop(columns='key_0',axis=1)

delay = pd.merge(left=delay, right=codes_sub, how='left', 
                left_on=delay['Code'], right_on=codes_sub['SUB RMENU CODE']).drop(columns='key_0', axis=1)

# Create combo code columns
delay['combo code'] = delay['CODE DESCRIPTION_y'].fillna(delay['CODE DESCRIPTION_y'])
delay = delay.rename(columns={'combo code_y': 'combo code'})

# Drop data fields that are repetitive
delay = delay.drop(columns=['SRT RMENU CODE','CODE DESCRIPTION_x','SUB RMENU CODE', 
                   'CODE DESCRIPTION_y'])

In [4]:
# What does our data look like?
delay.head()

,Date,Time,Day,Station,Code,Min Delay,Min Gap,Bound,Line,Vehicle,combo code
0,2014-01-01,00:21,Wednesday,VICTORIA PARK STATION,MUPR1,55,60,W,BD,5111,Priority One - Train in Contact With Person
1,2014-01-01,02:06,Wednesday,HIGH PARK STATION,SUDP,3,7,W,BD,5001,Disorderly Patron
2,2014-01-01,02:40,Wednesday,SHEPPARD STATION,MUNCA,0,0,NaN,YU,0,NaN
3,2014-01-01,03:10,Wednesday,LANSDOWNE STATION,SUDP,3,8,W,BD,5116,Disorderly Patron
4,2014-01-01,03:20,Wednesday,BLOOR STATION,MUSAN,5,10,S,YU,5386,Unsanitary Vehicle

In [5]:
# What types of data are we working with?
delay.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 97677 entries, 0 to 97676
Data columns (total 11 columns):
Date          97677 non-null object
Time          97677 non-null object
Day           97677 non-null object
Station       97677 non-null object
Code          97676 non-null object
Min Delay     97677 non-null int64
Min Gap       97677 non-null int64
Bound         76575 non-null object
Line          97277 non-null object
Vehicle       97677 non-null int64
combo code    91956 non-null object
dtypes: int64(3), object(8)
memory usage: 8.9+ MB

In [6]:
# Convert date/time columns
delay['Date'] = pd.to_datetime(delay['Date'])